@import url('https://fonts.googleapis.com/css?family=Antic+Slab|Italiana');

body {
	color: #222;
	font-family: 'Antic Slab', serif;
	/*font-family: helvetica, Arial, sans-serif;*/
	font-size: 17px; /*1em = 17px*/
	font-weight: 300;
	line-height: 1.3;
}

header {
	background-color: #ffed74;
    border: 1px black solid;
    padding: 20px;
    margin: 0 20px;
}

nav {
	background-color: #e8c66a;
    border: 1px black solid;
    padding: 20px;
    margin: 0 20px;
}

section {
	background-color: #ffe2b8;
    border: 1px black solid;
    padding: 20px;
	margin: 0 20px;
	/*padding: 5em 0;*/
}

h1 {
	font-family: 'Italiana', serif;
	font-size: 2em;
	line-height: 1.3;
}  

h2, h4 {
	font-family: 'Italiana', serif;
}

a {
	text-decoration: none;
	color: #a0305d;
	font-weight: 600;
}

a:hover { 
  color: black;
}

nav a {

	margin-right: 10px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}

blockquote {
  text-indent: -0.8em;
}

footer {
	background-color: #ff957e;
    border: 1px black solid;
    padding: 20px;
    margin: 0 20px;
	/*background-color: #cccecd;
	padding: 20px;*/
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  font-family: 'Antic Slab', serif;
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #888;
  color: white;
  font-family: 'Antic Slab', serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker color */
input[type=submit]:hover {
  background-color: #666;
}

#wrapper{
	width: 1900px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffe2b8;
}

#intro {
	background: url(../images/welcome_banner.jpg);
	/*width: 1802px;*/
	height: 810px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ffe2b8;
    border: 1px black solid;
    padding: 20px 0;
	font-size: 1.4em;
	/*font-weight: 600;*/
}

#about {
	/*background-color: #ffe2b8;
    border: 1px black solid;
    padding: 200 20px;*/
}

#about-image {
	background-color: #ffc675;
	border: 1px black solid;
    padding: 20px;
    width: 33em;
    float: left;
}

#about-text {
	background-color: #ffc675;
    border: 1px black solid;
    padding: 20px;
    width: 33em;
    float: right;
}

#gallery {
	background-color: #ffe2b8;
    border: 1px black solid;
    padding: 20px;
}

#gallery img {
	width: 33.33%;
}

#testimonials {
	width: 33em;
	margin: auto;
}

#flavour {
	background-color: #ffc675;
    border: 1px black solid;
    padding: 20px;
    width: 50%;
    float: left;
}

#faq {
	background-color: #ffc675;
    border: 1px black solid;
    padding: 20px;
    width: 50%;
    float: right;
}

#contact {
	width: 33em;
	clear: both;
}

/* Add a background color and some padding around the form */
.container {
	/*
	width: 500px;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin: 20px 10px; 
	*/

  	background-color: #ffe2b8;
    border: 1px black solid;
    padding: 20px;
    margin: 0 20px;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
