@import url('https://fonts.googleapis.com/css?family=Antic+Slab|Italiana');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #222;
	font-family: 'Antic Slab', serif;
	font-size: 18px; /*1em = 18px*/
	font-weight: 300;
	line-height: 1.3;
}

p + p {
	margin-top: 1em;
}

header {
    margin: 0 3em;
}

header img {
	float: left;
}

nav {
	padding: 1.5em;
    margin: 0 1em;
    float: right;
    text-align: right;
}

nav a {
	font-family: 'Italiana', serif;
	color: #C10464;
	margin-left: 2em;
	font-weight: 700;
	font-size: 1.2em;
	letter-spacing: .05em;
}

nav a:hover{
	border-bottom: .05em solid #222;
}

section {
	padding: 1em;
	margin: 0 1em;
	/*padding: 5em 0;*/
}

h1 {
	font-family: 'Italiana', serif;
	font-size: 1.5em;
	line-height: 1.3;
	font-weight: bold;
}  

h2, h4 {
	font-family: 'Italiana', serif;
	font-weight: bold;
	font-size: 3em;
}

h2 {
	text-align: center;
}

hr {
	width: 4em;
	margin: 2em auto;
}

a {
	text-decoration: none;
	color: #C10464;
	font-weight: 600;
}

a:hover { 
  color: black;
}

blockquote {
  text-indent: -0.3em;
  margin-bottom: 5em;
}

cite {
	display: block;
	text-align: right;
	color: #C10464;
	font-weight: 500;
}

button {
  background-color: #888; 
  border: none;
  border-radius: .3em;
  color: white;
  padding: .6em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Italiana', serif;
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: .15em;
  cursor: pointer;
}

button a {
	color: #fff;
	font-family: 'Italiana', serif;
  	font-size: .9em;
}

button:hover { 
  background-color: #666;
  color: #fff;
}

footer {
    padding: 1em;
    margin: 0 1em;
    text-align: center;
	/*background-color: #cccecd;
	padding: 20px;*/
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  font-family: 'Antic Slab', serif;
  font-size: .9em;
  padding: .6em; /* Some padding */  
  border: .05em solid #ccc; /* Gray border */
  border-radius: .3em; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: .3em; /* Add a top margin */
  margin-bottom: .8em; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #888;
  color: white;
  font-family: 'Italiana', serif;
  font-size: .8em;
  font-weight: 600;
  letter-spacing: .15em;
  padding: 1em 2em;
  border: none;
  border-radius: .3em;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker color */
input[type=submit]:hover {
  background-color: #666;
}

#wrapper{
	max-width: 1900px;
	margin-left: auto;
	margin-right: auto;
}

#intro {
	background: url(../images/welcome_banner.jpg);
	/*width: 1802px;*/
	height: 810px;
	background-position: center;
	background-repeat: no-repeat;
    padding: 1em 0 5em 0;
	font-size: 1.4em;
}

#intro-text {
	position: absolute;
	top: 26%;
	width: 39em;
	right: 15em;
	text-align: left;
}

#about {
	width: 60em;
	margin: auto;
	padding: 5em 0;
}

#about-image {
	width: 40%;
	margin: 1.5em auto;
	float: left;
	padding: 7em 3em 0 0;
}

#about-text {
    width: 60%;
    margin: 1.5em 0;
    float: right;
}

#gallery {
    padding: 5em 0;
    clear: both;
    line-height: 3em;
    float: left;
    text-align: center;
}

#gallery img {
	width: 33.33%;
	float: left;
}

#testimonials {
	width: 39em;
	margin: auto;
	padding: 5em 0;
	clear: both;
}

#testimonials-head {
	text-align: center;
}

#flav-faq {
	padding: 5em 0;
}

#flav-faq a {
	line-height: 3em;
}

#flav-faq img {
	display: block;
	width: 100%;
}

#flavour {
	text-align: center;
    padding: 1em;
    width: 50%;
    float: left;
}

#faq {
	text-align: center;
    padding: 1em;
    width: 50%;
    float: right;
}

#contact {
	padding: 5em 0;
	width: 39em;
	margin: auto;
	clear: both;
}

#contact-head {
	text-align: center;
}

#enquiry {
	text-align: center;
}

#connect {
	padding: 5em 0 1em 0;
	text-align: center;
}

.container {
	background-color: #dadadd;
	padding: .5em 0;
}

/* Add a background color and some padding around the form */
.form-container {
	width: 40em;
	border-radius: .25em;
	background-color: #dadadd;
	padding: 1em;
	margin: 1em auto; 
	background-color: #dadadd;
}

.clearfix:after {
	display: block;
	visibility: hidden;
	content: " ";
	font-size: 0;
	height: 0;
	clear: both;
}

.button {
  background-color: #888; 
  color: white;
  border-radius: .2em;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Italiana', serif;
  font-size: .8em;
  letter-spacing: .15em;
  cursor: pointer;
  margin-top: 2em;
}

.button:hover { 
  background-color: #666;
  color: #fff;
}